<!--http://ironsummitmedia.github.io/startbootstrap-1-col-portfolio/-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search Africa Travel Blogs</title>
    <meta name="description" content="Search narraritive travel blogs focused on Africa.  The process of travel planning should be serendipitous much as travel itself is.">        

    <!-- Bootstrap Core CSS -->        
    <link rel="stylesheet" type='text/css' href="css/bootstrap.min.css">    
    <link rel='stylesheet' type='text/css' href='css/scratch.css'>    


    <script src='bower_components/angular/angular.min.js' type='text/javascript'></script> <!-- for ngcloak to work, this needs to be here -->

    <!-- TODO: Angularize this (http://luisfarzati.github.io/angulartics/)-->

    <!-- start Mixpanel -->
    <script type="text/javascript">

      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("11b1cc3957ec1fd15f5e96855ae123cb");
    <!--test token 08e875efa025e4bd7bb80ae4f9309506 -->

    </script>

    <!-- included a GA filter to exclude local traffic -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64693306-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body>

        <!-- Welcome banner -->
    <div class="jumbotron">
        <img src="../images/wanderightlogo.png">
        
        <div class="container-fluid customheader">

            <div class="row" >
                <div class="col-lg-8 col-lg-offset-2 ">
                    <h2>Authentic Travel</h2>
                    <h5>Encouraging serendipity in travel planning.</h5>
                </div>
            </div>


            <div class="search-row row">

                <div class="search-general-div col-lg-5 col-md-5 col-sm-6 col-xs-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 tiny">

                   <input type="text" class="form-control input-lg  tiny-search search-box search-general ng-pristine ng-valid" placeholder="General Search" autofocus="" ng-model="query.general" dl-enter-key="search(0);" id="general">

                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 input-group  tiny" mass-autocomplete=""> 

                    <input mass-autocomplete-item="autocomplete_options" id="country" class="input-lg form-control search-box search-country tiny-search ng-scope ng-isolate-scope ng-pristine ng-valid" placeholder="Country?" ng-model="query.country" ng-disabled="query.general == ''" autocomplete="off">

                   <span class="input-group-btn">
                        <button class="btn btn-lg btn-primary go" type="button">Go!</button>
                   </span>
                </div>

            </div>

        </div>

    </div>

    <!-- Page Content -->
    <div class="container">

         <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div align="center" class="result-img" >
                    <img src="http://wanderight.blob.core.windows.net/blogparse/images/GsyQYDq7EeWYtAANOhDXSA" alt="">
                    <div class="author-name ng-binding">Africancrab</div>
                </div>
                  <div style="clear;"> 
                    <a href="http://www.travelblog.org/Africa/South-Africa/Western-Cape/Cape-Town/blog-719550.html" target="_blank" ng-click="trackengagment ('LinkClick', result.url, result.title, $index)"><h3>Self guided tour of the Garden and Wine Routes</h3></a>
                  </div>
                  <div >
                    <p ng-bind-html="result.body | to_trusted" class="ng-binding">..., decided we needed some quality time and booked a 10 days trip to <span style="font-weight:600">Cape</span> <span style="font-weight:600">Town</span> in 2002. We began preparing for our trip three weeks ahead. Since I worked...  million shillings), return air ticket to <span style="font-weight:600">Cape</span> <span style="font-weight:600">Town</span>, fully paid accommodation for the duration of my stay, the name and contact of the company...  the date of submission, Don came home with our passports visas included. We flew South African Airlines to <span style="font-weight:600">Cape</span> <span style="font-weight:600">Town</span> with an hour stop in Johannesburg... </p>
                  </div>
                
              </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <script src='bower_components/angular-animate/angular-animate.min.js' type='text/javascript'></script>
    <script src='bower_components/elasticsearch/elasticsearch.angular.min.js' type='text/javascript'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>

    <!-- Angularize this -->
    <script src="js/massautocomplete.js"></script>

    <script src='js/config.js' type='text/javascript'></script>
    <script src='js/app.js' type='text/javascript'></script>
    <script src='js/controllers.js' type='text/javascript'></script>
    <script src='js/services.js' type='text/javascript'></script>

    <div class="footer">
      <a href="https://mixpanel.com/f/partner" ><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </div>

</body>

</html>
